<div id="home" class="current">
    <div class="toolbar">
        <h1>Weatherham</h1>
    </div>
    <ul class="rounded">
        <li><a href="#ui">Current Temperature</a> <small class="counter">42&deg;</small></li>
        <li><a href="#animations">Animations</a> <small class="counter">42</small></li>
        <li><a href="#ajax">AJAX</a> <small class="counter">3</small></li>
        <li><a href="#callbacks">Callback Events</a> <small class="counter">3</small></li>
        <li><a href="#extensions">Extensions</a> <small class="counter">4</small></li>
        <li><a href="#demos">Demos</a> <small class="counter">2</small></li>
    </ul>
    <div class="info">
			Created by <%= link_to 'Amiel Martin', 'http://amielmartin.com' %>.
			Weather data provided by <%= link_to 'Bellingham Cold Storage', 'http://www.bellcold.com/download.txt' %>.
</div>