@import "vendor/_reset";
@import "vendor/_960";
@import "vendor/_spreadhead";
@import "vendor/_formtastic";
@import "vendor/_facebox";
@import "_formtastic_changes";

.legend td{ padding: 2px;}

#activity{ background: #fff url(/images/ajax-loader.gif) no-repeat center center; height: 20px; }

#changelog{ height: 400px; overflow-y: scroll; }

#footer{ .grid_12; text-align: center; font-size: 80%; color: #999; margin: 1em 0 2em;
	a{ color: #999; text-decoration: none;
    	:hover{ text-decoration: underline; }
	}
}

#tooltip{ position: absolute; display: none; border: 1px solid #fdd; padding: 2px; background-color: #fee;
    .time{ font-size: 80%; color: #bbc; margin-top: 0.3em; }
}