@import "vendor/_reset";
@import "vendor/_960";
@import "vendor/_spreadhead";
@import "vendor/_formtastic";
@import "_formtastic_changes";

.legend td{ padding: 2px;}

#activity{ background: #fff url(/images/ajax-loader.gif) no-repeat center center; height: 20px; }

#footer{ text-align: center; font-size: 80%; color: #999; margin-top: 1em; }