<h1>About Weatherham</h1>

<p>Weatherham was built by <a href="http://amielmartin.com">Amiel Martin</a> and other kind folks at <a href="http://carnesmedia.com">Carnes Media</a>.</p>

<p>We're on twitter: <a href="http://twitter.com/weatherham">@weatherham</a></p>
