.metrics {
  overflow: hidden;

  .metric_toggler {
    float: left;
    width: 50%;

    @include min-width(560px) { width: 33.333%; }
    @include min-width(767px) { width: 25%; }
    @include min-width(1024px) { width: 12.5%; }
  }
}

.metric_toggler {
  position: relative;
  opacity: .6;
  transition: .4s all ease;
  color: rgba(255, 255, 255, .7);

  input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0;

  }

  i.wi {
    display: block;
    font-size: 2.5rem;
    text-align: center;
    color: rgba(255, 255, 255, .4);
    padding: 10px;
  }

  label {
    text-align: center;
    font-style: .85rem;
    display: block;
    padding-bottom: 10px;
  }

  &.-enabled, &:hover {
    opacity: 1;
    color: rgba(255, 255, 255, 1);
  }
}
