// Bellgothic bold
body{ background: $background_color url(image-path("background.jpg")) repeat-x; color: $primary_color; font-family: "Helvetica Neue", sans-serif; letter-spacing: 0.05em; line-height: 1.1em; }

#header{ @extend .container_12;
    h1 a{ @extend .grid_12; text-indent: -999em; background: url(image-path("weatherham.png")) no-repeat 0 40px; height: 90px; border-bottom: 1px solid $primary_color; }
}

a{ color: $primary_color;
    :hover{ color: $secondary_color; }
}
p{ font-size: 0.9em; }

#wrapper{ @extend .container_12; }
.full_width{ @extend .grid_12; margin-top: 1em; }

#flash_panel, #top_copy{ margin-top: 1em; @extend .grid_9; }

.granularity_switcher{ margin-top: 1em; @extend .grid_3; }

.metric_toggler{ padding: 1px 0; margin: 1em; @extend .grid_2; text-transform: uppercase; font-size: 0.8em;
    label{ display: block; color: #000; }
}

    .metric_toggler.wind_speed{ @extend .prefix_1; }
    .metric_toggler.humidity{ @extend .prefix_4; }

.flot{ @extend .grid_12; margin-top: 1em; }
  .tickLabel{ color: $primary_color; letter-spacing: 0; }
  .freezing{ font-size: 0.9em; position: relative; top: -2px; }
    .legend td{ padding: 2px; }

/*    .baro_label{ color: $secondary_color; }*/
    #tooltip{ position: absolute; display: none; padding: 14px; background-color: #fff; letter-spacing: 0.01em; font-size: 0.8em; color: #000; line-height: 1.1em; }

    .flot_object{ position: absolute; top: 0px; z-index: -100; }
    #activity{ @extend .flot_object; background: transparent url(image-path("ajax-loader.gif")) no-repeat center center; height: $flot_height; width: $flot_width; text-align: center; line-height: $flot_height + 60px; }

    .nav_arrow{ @extend .flot_object; height: $flot_height; width: $flot_width / 5; }

    #left_arrow{ @extend .nav_arrow; left: 0px; background: url(image-path("arrow-left-white.png")) no-repeat center center; }
    #right_arrow{ @extend .nav_arrow; right: 0px; background: url(image-path("arrow-right-white.png")) no-repeat center center; }

#utc_warning{ @extend .grid_11; @extend .prefix_1; font-size: 0.8em; margin-top: 1em; }

#facebox{ color: #000; }
.textile_file{ height: 400px; overflow-y: auto; }
#changelog{ @extend .textile_file; }
#todo{ @extend .textile_file;
    ul{ list-style-type: disc;
        ul{ list-style-type: circle; }
    }
}

#footer{ @extend .grid_12; text-align: center; font-size: 80%; color: $primary_color; margin: 1em 0 2em;
  a{ color: $primary_color; text-decoration: none;
      :hover{ text-decoration: underline; }
  }
}
