body {
  color: rgba(255, 255, 255, .7);
  font-family: $font-stack;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: #fff;

  &:hover {
    text-decoration: underline;
  }
}
